section{
  text-align: center;
  background-color: lightgray ;
  width: 90%;
  margin: 30px auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
}
section img{
  margin: 30px auto;
  -webkit-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  -moz-box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
  box-shadow: 0px 7px 9px 6px rgba(0,0,0,0.56);
}

section h5{
  font-size: 1.1rem;
  margin: 15px auto;
}

section h6 {
  margin: 15px auto;
  font-size: 1rem;
}
section p{
  font-size: 1.25rem;
  padding: 20px;
}

#update-form label, #create-form label {
  float: left;
  margin-left: 5%;
  font-size: 1.2rem;
}

#update-form select, #create-form input {
  margin-top: 5px;
}

#update-form input, #update-form select, #update-form textarea, #create-form input, #create-form select, #create-form textarea {
  float: right;
  margin-right: 5%;
  width: 40%;
  padding: .5%;
}

.selectButton {
  margin-top: 30px;
  margin-bottom: 60px;
}

.show-me {
  margin-top: 30px;
  margin-bottom: 30px;
}

#create-form {
  padding: 0px 20px 0px 20px;
}

.hide {
  display: none;
}

.hide_nav {
  display: none;
}

#pageTitle {
  background-color: lightgray;
  width: 80%;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  border: solid 3px #333333 
}

.detail-button{
  background-color: hsla(33, 100%, 50%, 0.651);
}

#updateButtons {
  width: 300px;
  margin: auto;
}

#updateButtons li{
  float: left;
  margin: 5%;
}

.textInput {
  padding: 2%;
  width: 60%;
  border-radius: 5px;
}

#search-form fieldset {
  display: inline;
  padding: 2%;
  font-size: 1rem;
}

#search-form input {
  margin-top: 30px;
}

#search-form button {
  margin-top: 30px;
}



